
.sc-alien {

  &.sm-angry {
    background-color: red
  }

  &.sm-excited {
    background-color: yellow
  }

  &.sm-sad {
    background-color: blue
  }

  &.sm-sick {
    background-color: green
  }
}